.titleBar {
    background-color: #000;
    display: block;
    color: #fff;
    padding-left: 16px
  }

  #row-item {
    border-bottom: solid 1px #acacac;
    display: block;
    margin: 24px 48px;
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
  }

  #titleName {
    color: black;
    text-transform: capitalize;
    display: block;
    
  }

  #price-style{
    text-align: end;
    display: inline;
    text-align: right;
  }

  tbody, tr {
    display: block;
  }

  img {
    margin: 0px 24px;
  }

  .title-click {
    color: black;
    
  }

  .title-click :hover{
    color: red;
  }

  #order-now-col{
    display: block;
    margin-left: 7%;
    margin-bottom: 8px;
  }

  button {
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 8px 24px;
    
  }

  