.login {
    text-align: center;
    border: 1px solid #ccc;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  h1 {
    background-color: #f2f6ff;
    margin: 0px;
    padding: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #eee;
  }

#inputbox{
    width: 350px;
    border: 1px solid lightgray;
    padding: 8px;
    font-size: 18px;
    margin: 12px 0px 8px 0px; 
    
}

#inputbox :focus{
    outline: none;
    outline-width: 0;
}

#error_style {
  padding: 5px;
  display: block;
  marginBottom: 5px;
  margin: auto;
  textAlign: center;
  color: red;
}


#btn-submit {
    border: 0px;
    width: 365px;
    padding: 8px 16px;
    margin: 24px 0px 48px 0px;
    font-size: 18px;
    
}