@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  
  .Signup form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }

  #inputbox{
    width: 350px;
    border: 1px solid lightgray;
    padding: 8px;
    font-size: 18px;
    margin: 8px 0px 8px 0px; 
    margin-left: auto;
    margin-right: auto;
    
}

#inputbox :focus{
    outline: none;
    outline-width: 0;
}

form{
  text-align: center;
  background-color: seashell;
}

#error_style {
  padding: 5px;
  display: block;
  marginBottom: 5px;
  margin: auto;
  textAlign: center;
  color: red;
}