.employee {
    text-align: center;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}