.login {
    text-align: center;
    border: 1px solid #ccc;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    
  }

  h1 {
    background-color: #f2f6ff;
    margin: 0px;
    padding: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid black;
  }

#inputbox{
    width: 350px;
    border: 1px solid lightgray;
    padding: 8px;
    font-size: 18px;
    margin: 12px 0px 8px 0px; 
    
}

#inputbox :focus{
    outline: none;
    outline-width: 0;
}


#btn-submit {
    border: 0px;
    width: 365px;
    background-color: #0056ff;
    color: white;
    padding: 8px 16px;
    margin: 24px 0px 48px 0px;
    font-size: 18px;
    
}